In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel("~/Downloads/nrl.xlsx", skiprows=1)

In [13]:
df['margin'] = df['Home Score'] - df['Away Score']

In [14]:
home_quantiles = [round(df['Home Odds'].quantile(i), 2) for i in np.arange(0, 1.1, 0.2)]

In [18]:
df['home_odds_group'] = np.nan
for index, row in df.iterrows():
    for i in range(len(home_quantiles)):
        if row['Home Odds'] >= home_quantiles[i-1] and row['Home Odds'] < home_quantiles[i]:
            df.loc[index, 'home_odds_group'] = "home odds between: {} - {}".format(home_quantiles[i-1], home_quantiles[i])

In [19]:
away_quantiles = [round(df['Away Odds'].quantile(i), 2) for i in np.arange(0, 1.1, 0.2)]

In [20]:
df['away_odds_group'] = np.nan
for index, row in df.iterrows():
    for i in range(len(away_quantiles)):
        if row['Away Odds'] >= away_quantiles[i-1] and row['Away Odds'] < away_quantiles[i]:
            df.loc[index, 'away_odds_group'] = "away odds between: {} - {}".format(away_quantiles[i-1], away_quantiles[i])

In [21]:
s = df.groupby(["home_odds_group", "away_odds_group"])['margin'].mean().round(2)
s.unstack()

away_odds_group,away odds between: 1.04 - 1.61,away odds between: 1.61 - 2.05,away odds between: 2.05 - 2.55,away odds between: 2.55 - 3.2,away odds between: 3.2 - 15.26
home_odds_group,,,,,
home odds between: 1.01 - 1.36,NaN,NaN,NaN,13.58,12.70
home odds between: 1.36 - 1.53,NaN,NaN,0.78,7.47,4.79
home odds between: 1.53 - 1.8,NaN,-1.33,3.94,5.81,NaN
home odds between: 1.8 - 2.36,-1.09,-1.58,4.48,NaN,NaN
home odds between: 2.36 - 10.41,-6.12,-2.62,NaN,NaN,NaN

In [22]:
s = df.groupby(["home_odds_group", "away_odds_group"])['margin'].count().round(2)
s.unstack()

away_odds_group,away odds between: 1.04 - 1.61,away odds between: 1.61 - 2.05,away odds between: 2.05 - 2.55,away odds between: 2.55 - 3.2,away odds between: 3.2 - 15.26
home_odds_group,,,,,
home odds between: 1.01 - 1.36,NaN,NaN,NaN,12.0,408.0
home odds between: 1.36 - 1.53,NaN,NaN,18.0,402.0,33.0
home odds between: 1.53 - 1.8,NaN,6.0,393.0,31.0,NaN
home odds between: 1.8 - 2.36,11.0,414.0,27.0,NaN,NaN
home odds between: 2.36 - 10.41,425.0,21.0,NaN,NaN,NaN